.vs/AStar/FileContentIndex
.vs/AStar/v17/ipch/AutoPCH
.vs/AStar/v17/Browse.VC.db
AStar/bin
AStar/intermediate
.vs/AStar/v17/Browse.VC.db-shm
.vs/AStar/v17/Browse.VC.db-wal
.vs/AStar/v17/Browse.VC.opendb
.vs/AStar/v17/Solution.VC.db
